main.home
	.container
		ul.list
			li.list__item
				ul.list__item-images
					li.list__item-logo
						img(src="./images/plumbing/logo.png" alt="Logo")
					li
						img(src="./images/plumbing/plumbing-1.jpg" alt="Image")
						p Laparet Onyx Smoke
					li
						img(src="./images/plumbing/plumbing-2.jpg" alt="Image")
						p Коллекция Sfera от Catalano
					li
						img(src="./images/plumbing/plumbing-3.jpg" alt="Image")
						p Плитка<br> Kerama Marazzi
					li
						img(src="./images/plumbing/plumbing-4.jpg" alt="Image")
						p Оборудование для ванны
				.list__item-info
					div
						h2 Скидка 7%, по промокоду
						ul
							li На бренды #[b Laparet], #[b Kerama Marazzi], #[b Catalano] и #[b Treemme] максимальная #[span скидка 5%].
							li На бренды #[b Dyson] максимальная #[span скидка 5%].
					div
						button.button(type="button") Открыть промокод
			li.list__item
				ul.list__item-images
					li.list__item-logo
						img(src="./images/furniture/logo.png" alt="Logo")
					li
						img(src="./images/furniture/furniture-1.jpg" alt="Image")
						p Стулья
					li
						img(src="./images/furniture/furniture-2.jpg" alt="Image")
						p Кресла и диваны
					li
						img(src="./images/furniture/furniture-3.jpg" alt="Image")
						p Барные стулья
					li
						img(src="./images/furniture/furniture-4.jpg" alt="Image")
						p Столы и стулья
				.list__item-info
					div
						h2 Cкидка 5%, по промокоду
						ul
							li Дизайнерская мебель: <br> стулья, кресла, диваны, столы.
							li Скидка не суммируется с акциями компании.
					div
						button.button(type="button") Открыть промокод
			li.list__item
				ul.list__item-images
					li.list__item-logo
						img(src="./images/washing/logo.png" alt="Logo")
					li
						img(src="./images/washing/washing-1.jpg" alt="Image")
						p Раковины
					li
						img(src="./images/washing/washing-2.jpg" alt="Image")
						p Душевые кабины
					li
						img(src="./images/washing/washing-3.jpg" alt="Image")
						p Стиральные машины
					li
						img(src="./images/washing/washing-4.jpg" alt="Image")
						p Душевые системы и смесители
				.list__item-info
					div
						h2 Скидка 7%, по промокоду
						ul
							li Интернет-магазин сантехнического оборудования и отопления.
							li Скидка не суммируется с акциями компании.
					div
						button.button(type="button") Открыть промокод
			li.list__item
				ul.list__item-images
					li.list__item-logo
						img(src="./images/baths/logo.png" alt="Logo")
					li
						img(src="./images/baths/baths-1.jpg" alt="Image")
						p Ванны
					li
						img(src="./images/baths/baths-2.jpg" alt="Image")
						p Мебель для ванных комнат
					li
						img(src="./images/baths/baths-3.jpg" alt="Image")
						p Душевые уголки
					li
						img(src="./images/baths/baths-4.jpg" alt="Image")
						p Аксессуары для ванной
				.list__item-info
					div
						h2 Скидка 7%, по промокоду
						ul
							li Купон дает право на скидку 7% на всю сантехнику #[b Ravak].
							li Скидка не суммируется со стандартными акциями и предложениями компании!
					div
						button.button(type="button") Открыть промокод
			li.list__item
				ul.list__item-images
					li.list__item-logo
						img(src="./images/rooms/logo.png" alt="Logo")
					li
						img(src="./images/rooms/rooms-1.jpg" alt="Image")
						p Ванны
					li
						img(src="./images/rooms/rooms-2.jpg" alt="Image")
						p Мебель для ванных комнат
					li
						img(src="./images/rooms/rooms-3.jpg" alt="Image")
						p Душевые уголки
					li
						img(src="./images/rooms/rooms-4.jpg" alt="Image")
						p Аксессуары для ванной
				.list__item-info
					div
						h2 С-Мебель, скидки до 5% по купону
						ul
							li Cпальные гарнитуры #[b Anrex], #[b Магеллан], #[b Линате].
							li Cпальни #[b Тейлор], #[b Оливия].
							li Подробности у менеджера при оформлении заказа.
					div
						button.button(type="button") Открыть промокод
			li.list__item
				ul.list__item-images
					li.list__item-logo
						img(src="./images/wallpapers/logo.png" alt="Logo")
					li
						img(src="./images/wallpapers/wallpapers-1.jpg" alt="Image")
						p Обои
					li
						img(src="./images/wallpapers/wallpapers-2.jpg" alt="Image")
						p Товары для дома
					li
						img(src="./images/wallpapers/wallpapers-3.jpg" alt="Image")
						p Фотообои
					li
						img(src="./images/wallpapers/wallpapers-4.jpg" alt="Image")
						p Постельное белье
				.list__item-info
					div
						h2 Обои РУ, скидка 25% по купону
						ul
							li Подберем обои по стилю.
							li Скидка не суммируется с акциями компании.
					div
						button.button(type="button") Открыть промокод
			li.list__item
				ul.list__item-images
					li.list__item-logo
						img(src="./images/stove/logo.png" alt="Logo")
					li
						img(src="./images/stove/stove-1.jpg" alt="Image")
						p Печи
					li
						img(src="./images/stove/stove-2.jpg" alt="Image")
						p Котлы
					li
						img(src="./images/stove/stove-3.jpg" alt="Image")
						p Баня
					li
						img(src="./images/stove/stove-4.jpg" alt="Image")
						p Дымоходы
				.list__item-info
					div
						h2 Печь РУ, скидка 5% по купону
						ul
							li 3 магазина каминов и печей.
							li Скидка не суммируется с акциями компании.
					div
						button.button(type="button") Открыть промокод