main.home
	.container
		h1
			|Это стартовый шаблон для верстки!
		.mt-2
			| Обязательно посмотри реализацию:
			br
			| pug в папке #[code pug/(components|pages)],
			br
			| js в папке #[code js/(components|modules|pages)],
			br
			| scss в папке #[code scss/(components|pages)]
			br
			br
			| Не используемые части кода/компонентов можно просто отключить (удалять не рекомендуется)
			br
			br
			| Не забывай читать #[a(href="https://github.com/code-philosophy/fc-docs" target="_blank") документацию]!

