.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	border: none;
	border-radius: 101px;
	padding: 15px 11px;
	min-width: 150px;
	min-height: 44px;
	box-shadow: 0px 16px 24px rgba(6, 13, 27, 0.1);
	box-sizing: border-box;
	font-family: "Proxima Nova", "Arial", sans-serif;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: -0.4px;
	text-transform: uppercase;
	color: #fff;
	background-color: #36f;

	&::after,
	&::before {
		content: "";
		position: absolute;
		right: 10px;
		display: inline-block;
		border-radius: 10px;
		width: 8px;
		height: 2px;
		background-color: #fff;
	}

	&::before {
		top: 42%;
		transform: rotate(45deg);
	}

	&::after {
		bottom: 42%;
		transform: rotate(-45deg);
	}

	&:hover,
	&:focus {
		background-color: darken($color: #36f, $amount: 30);
		transition: all 0.6s;
		cursor: pointer;
	}

	&:active {
		opacity: 0.6;
	}
}

@media (min-width: 576px) {
	.button {
		padding: 16px;
		min-width: 160px;
		min-height: 48px;
	}
}

@media (min-width: 992px) {
	.button {
		padding: 20px 11px;
		min-width: 206px;
		min-height: 62px;
		font-size: 16px;
		line-height: 19px;

		&::after,
		&::before {
			width: 10px;
		}

		&::before {
			top: 43.5%;
		}

		&::after {
			bottom: 43.5%;
		}
	}
}

@media (min-width: 1200px) {
	.button {
		padding: 26px 14px;
		min-width: 250px;
		min-height: 75px;
		font-size: 18px;
		line-height: 24px;

		&::after,
		&::before {
			right: 25px;
		}

		&::before {
			top: 44%;
		}

		&::after {
			bottom: 44%;
		}
	}
}