@font-face {
	src: url("../../resources/fonts/ProximaNova-Regular.woff2") format("woff2"), url("../../resources/fonts/ProximaNova-Regular.woff") format("woff");
	font-family: "Proxima Nova";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../../resources/fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../../resources/fonts/ProximaNova-Semibold.woff") format("woff");
	font-family: "Proxima Nova";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../../resources/fonts/ProximaNova-Bold.woff2") format("woff2"), url("../../resources/fonts/ProximaNova-Bold.woff") format("woff");
	font-family: "Proxima Nova";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}