.list {
	margin: 0;
	padding: 0;

	&__item {
		list-style: none;
		margin-bottom: 10px;
		padding: 16px 12px;
		background-color: #fff;
	}

	&__item:last-of-type {
		margin-bottom: 6px;
	}

	&__item-images {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;
		list-style: none;
		margin-bottom: 20px;
		padding: 0;

		li {
			margin-right: 6px;
			width: 100%;
			min-width: 64px;

			img {
				margin-bottom: 6px;
				border-radius: 12px;
				width: 100%;
				height: auto;
				min-width: 64px;
			}

			p {
				margin-bottom: 0;
				max-width: 64px;
				font-weight: 600;
				font-size: 10px;
				line-height: 12px;
				text-align: center;
			}
		}
	}

	&__item-images &__item-logo {
		border-radius: 12px;
		box-shadow: 8px 16px 40px rgba(0, 0, 0, 0.15);

		img {
			margin-bottom: 0;
		}
	}

	&__item-info {
		h2 {
			margin-bottom: 2px;
			font-weight: 700;
			font-size: 15px;
			line-height: 20px;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: -0.5px;
			color: #6d6d72;

			b {
				text-transform: uppercase;
			}

			span {
				font-weight: 700;
			}
		}

		div:first-of-type {
			margin-bottom: 16px;
		}
	}
}

@media (min-width: 576px) {
	.list {
		&__item {
			margin-bottom: 10px;
			padding: 16px 22px;
		}

		&__item:last-of-type {
			margin-bottom: 13px;
		}

		&__item-images {
			li {
				margin-right: 8px;

				img,
				p {
					max-width: 92px;
				}

				p {
					font-size: 13px;
					line-height: 16px;
				}
			}
		}

		&__item-info {
			display: flex;
			align-items: center;
			justify-content: space-between;

			h2 {
				margin-bottom: 4px;
				font-size: 20px;
				line-height: 20px;
			}

			li {
				font-size: 14px;
				line-height: 17px;

				br {
					display: none;
				}
			}

			div:first-of-type {
				margin-bottom: 0;
				max-width: 330px;
			}
		}

		&__item:first-of-type {
			.list__item-info {
				li {
					position: relative;
				}

				li::before {
					content: "";
					position: absolute;
					left: -12px;
					top: 5px;
					display: inline-block;
					border-radius: 100%;
					width: 5px;
					height: 5px;
					background-color: #222;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.list {
		&__item {
			margin-bottom: 20px;
			padding: 16px 40px;
		}

		&__item:last-of-type {
			margin-bottom: 25px;
		}

		&__item-images {
			li {
				margin-right: 20px;

				img,
				p {
					max-width: 110px;
				}
			}
		}

		&__item-info {
			h2 {
				margin-bottom: 8px;
				font-size: 24px;
				line-height: 20px;
			}

			div:first-of-type {
				max-width: 495px;
			}
		}

		.list__item-images .list__item-logo {
			margin-right: 30px;
			border-radius: 25px;
		}
	}
}

@media (min-width: 992px) {
	.list {
		&__item {
			margin-bottom: 25px;
			padding: 20px 48px;
		}

		&__item-images {
			li {
				margin-right: 24px;

				img {
					border-radius: 25px;
				}

				img,
				p {
					max-width: 150px;
				}

				p {
					font-size: 16px;
					line-height: 19px;
				}
			}
		}

		&__item-info {
			h2 {
				margin-bottom: 10px;
				font-size: 30px;
				line-height: 30px;
			}

			li {
				font-size: 20px;
				line-height: 26px;
			}

			div:first-of-type {
				max-width: 640px;
			}
		}

		.list__item-images .list__item-logo {
			margin-right: 42px;
			border-radius: 30px;
		}

		.list__item:first-of-type .list__item-info li::before {
			top: 10px;
		}
	}
}

@media (min-width: 1200px) {
	.list {
		&__item {
			margin-bottom: 30px;
			padding: 24px 46px;
		}

		&__item-images {
			margin-bottom: 24px;

			li {
				img {
					margin-bottom: 9px;
					max-width: 189px;
				}

				p {
					max-width: 189px;
					font-size: 18px;
					line-height: 20px;
				}
			}
		}

		&__item-info {
			h2 {
				font-size: 36px;
				line-height: 36px;

				ul {
					li {
						font-size: 24px;
						line-height: 31px;
					}
				}
			}

			div:first-of-type {
				max-width: 740px;
			}
		}

		.list__item-images .list__item-logo {
			margin-right: 32px;
			border-radius: 40px;
		}
	}
}

@media (min-width: 1400px) {
	.list {
		margin: 0 auto;
		max-width: 1200px;

		&__item-images {
			li {
				img {
					max-width: 200px;
				}

				p {
					margin: 0 auto;
					max-width: 170px;
				}
			}
		}

		&__item-info {
			li {
				font-size: 24px;
				line-height: 31px;
			}
		}

		.list__item:first-of-type .list__item-info li::before {
			top: 14px;
		}
	}
}